h3 { margin: 0; color: #343434; font-weight: normal; line-height: 40px; font-family: 'Orienta', sans-serif; }
.errors { margin: 2px; padding: 5px; border-style: double; border-width: 4px; border-color: #DB1D00 }
.errors h3 { text-shadow: #7D1010 2px -2px 2px }
.blue-shadow { color: #6374AB; text-shadow:#fff 0px 1px 0, #000 0 -1px 0; }
#nastaveniObsahuSloupcu li { list-style-type: decimal }
#gt { padding-top: 1em; text-align: right }
.tar {text-align: right}
.tac {text-align: center}
.tal {text-align: left}
.float-right {float: right}
li.operation-extended-setting { margin-bottom: 1em }
h3:first-letter {text-transform: uppercase}
table { width: 100% }
td.half-width { width: 50% }
td + td > label > div:first-child {padding-left: 1em}
table#operationSet td {vertical-align: baseline}
table#operationSet textarea {height: 1.3em}
.flu:first-letter {text-transform: uppercase}
#file-history td {max-width: 10em; overflow:hidden; text-overflow:ellipsis}
.nowrap { white-space: nowrap }
.left-padding-2em { padding-left: 2em }
li.operation-extended-setting { width: 50% }