body {
	font-family: Times New Roman;
	color: black;
	text-align: left;
}
div#main-wrapper {
	position: absolute;
	left: 50%;
}
div#main-content {
	background-color: #D8D8D8;
	position: relative;
	left: -50%;
	padding: 10px;
	border-radius: 10px;
	display: table;
}